.navbar-default {
    background-color: white;
    border-color: white;
}

.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 75vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

.bottom-bottom-2 {
  padding-bottom: 2%;
}

#del_class_from_prof_button {
    display: inline;
}

 #profile_class_col,  #profile_class_row, #profile_class_list_group {
     padding-bottom: 0;
     padding-top: 0;
     margin-top: 0;
     margin-bottom: 0;
 }
