{% extends "classy/base.html" %}
{% load staticfiles %}
{% block body %}
<div class="container">
  <div class="row">
    <!-- <div class="col-md-8 col-md-offset-2"> -->
      <div class="page-header">
        <h1> {{ classifier.name }} <small>Classifier/<a href="/trainer/{{ classifier.id }}">Trainer</a></small></h1>
      </div>
    <!-- </div> -->
  </div>
</div>
<div class="container">
  <div class="row">
    <br></br>
    <div class="col-md-4 col-md-offset-2">
      <form method="POST">
        {% csrf_token %}
        {% if text %}
        <input class="form-control input-lg" type="text" placeholder="{{ text }}" name="text">
        {% else %}
        <input class="form-control input-lg" type="text" placeholder="Input text here!" name="text">
        {% endif %}
      </form>
    </div>
    <div class="col-md-4">
      {% if prediction %}
      <input class="form-control input-lg" id="disabledInput" type="text" placeholder="{{ prediction }}" disabled>
      {% else %}
      <input class="form-control input-lg" id="disabledInput" type="text" placeholder="Please, feed my friend on the left..." disabled>
      {% endif %}
    </div>
  </div>
</div>

{% endblock %}
