{% extends "classy/base.html" %}
{% load staticfiles %}
{% block body %}
<div class="container">
  <div class="row vertical-center">
    <div class="col-md-8 col-md-offset-2">
      <div class="page-header"><h1>Classy</h1></div>
      <form method="POST">
        {% csrf_token %}
        <div class="form-group">
          <select class="form-control input-lg" id="sel1" name="classifier">
            <option>Select classifier:</option>
            {% for id, name in classifiers %}
            <option type="submit" name="classifier" value="{{ id }}" class="classifiers">{{ name }}</option>
            {% endfor %}
            </select>
        </div>
      </form>
      {% if user.is_authenticated %}
      <a class="btn btn-primary btn-lg" role="button" data-toggle="modal" href="#myModal" aria-expanded="false" aria-controls="collapseExample">
        Create Classifier
      </a>
      {% endif %}
      <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel">Create your own classifier!</h4>
            </div>
            <div class="modal-body">
              <form>
                {% csrf_token %}
                <div class="form-group">
                  <input class="form-control input-lg" type="text" placeholder="Name your classifier (e.g. Programming Language or Animal Sound)" name="classifier_name">
                  <input type="hidden" value="{{ user.id }}" id="userID">
                </div>
                <div class="form-group">
                  <button type="button" class="btn btn-lg btn-primary" id="createClassifier">Save</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>

{% endblock %}
{% block scripts %}
<script src="{% static 'js/index.js' %}" type="text/javascript"></script>
{% endblock %}
